<ion-view view-title="Process">
  <ion-content class="padding">
    <div class="list" ng-show="noticeMessage">
      <span class="item noticeMessage" >
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>
    <h3>Create a new case</h4>
    <form>
      <div class="list list-inset">
        <h4>Customer request</h4>
        <label class="item item-input">
          <input ng-model="case.firstname" type="text" placeholder="First Name"></input>
        </label>
        <label class="item item-input">
          <input ng-model="case.lastname" type="text" placeholder="Last Name"></input>
        </label>
        <label class="item item-input">
          <input ng-model="case.request" type="text" placeholder="Request"></input>
        </label>
        <h4>Process request</h4>
        <label class="item item-input">
          <input ng-model="case.decision" type="text" placeholder="Decision">
        </label>
        <label class="item item-input">
          <input ng-model="case.decisioncomment" type="text" placeholder="Comment"></input>
        </label>
        <button type="button" class="button button-block button-stable" ng-click="createCase()">
          Create
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
