<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getProcess()">
    </ion-refresher>
  <style>
  .spinner svg {
    width: 12px;
    height: 12px;
    stroke: #444;
    fill: #444;
  }
  </style>
    <h2>BPM Connector</h2>
    <h4>Messages</h4>
    <div class="list">
      <a id="waiting" class="item" href="#">
        <ion-spinner class="spinner-assertive"></ion-spinner>
        <p style="display: inline;">Registering for push notifications</p>
      </a>
      <a id="pushenabled" class="item" href="#" style="display: none">
        <h2><i class="icon ion-checkmark"></i>&nbsp;Successfully registered</h2>
        <p>You will receive push notifications from MyInsurance from now on.</p>
      </a>
      <a id="pushregistererror" class="item" href="#" style="display: none">
        <h2><i class="icon ion-alert-circled"></i>&nbsp;Error while enabling push</h2>
        <p id="pushregistererror-msg">ERROR</p>
      </a>
      <span class="item" ng-show="processName">
        <p>Currently interacting with the following Process:</p>
        <p><b>{{processName}}</b></p>
      </span>
      <span class="item noticeMessage" ng-show="noticeMessage">
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>
    <div ng-show="processName">
    <h4>Create a new case</h4>
    <form>
      <div class="list list-inset" data-ng-init="getProcess()">
        <label class="item item-input">
          <input ng-model="case.errorMessage" type="text" placeholder="ErrorMessage">
        </label>
        <label class="item item-input">
          <input ng-model="case.timestamp" type="text" placeholder="Timestamp">
        </label>
        <label class="item item-input">
          <input ng-model="case.deviceType" type="text" placeholder="Device type"></input>
        </label>
        <label class="item item-input">
          <input ng-model="case.deviceID" type="text" placeholder="Device ID"></input>
        </label>
        <label class="item item-input">
          <input ng-model="case.errorCode" type="text" placeholder="Errorcode"></input>
        </label>
        <label class="item item-input">
          <input ng-model="case.payload" type="text" placeholder="Paylod"></input>
        </label>
        <button type="button" class="button button-block button-stable" ng-click="createCase()">
          Create
        </button>
      </div>
    </form>
  </div>
  </ion-content>
</ion-view>
