<ion-view view-title="{{taskContent.TaskName}}">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getTaskContent()">
    </ion-refresher>
    <div class="list" ng-show="noticeMessage">
      <span class="item noticeMessage" >
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>
      <div class="list list-inset" ng-show="taskContent" data-ng-init="getTaskContent()">
        <div class="row">
          <div class="col item myContentColumn"><b>Device Type:</b></div>
          <div class="col item myContentColumn">{{taskContent.deviceType}}</div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><b>Device ID:</b></div>
          <div class="col item myContentColumn">{{taskContent.deviceID}}</div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><b>Data received:</b></div>
          <div class="col item myContentColumn">{{taskContent.payload}}</div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><b>Time of error event:</b></div>
          <div class="col item myContentColumn">{{taskContent.timestamp}}</div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><b>Error Code:</b></div>
          <div class="col item myContentColumn">{{taskContent.errorCode}}</div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><b>Error Message:</b></div>
          <div class="col item myContentColumn">{{taskContent.errorMessage}}</div>
        </div>
        <button type="button" class="button button-block button-stable button-claim" ng-click="modal.show()" ng-show="statusIsInProgress()">
          Edit
        </button>
    </div>
  </ion-content>
</ion-view>
