<ion-view view-title="{{taskContent.TaskName}}">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getTaskContent()">
    </ion-refresher>
    <div class="list" ng-show="noticeMessage">
      <span class="item noticeMessage" >
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>
      <div class="list list-inset" ng-show="taskContent" data-ng-init="getTaskContent()">
        <h4>Customer request</h4>
        <div class="row">
          <div class="col item myContentColumn"><b>First Name:</b></div>
          <div class="col item myContentColumn">{{taskContent.firstname}}</div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><b>Last Name:</b></div>
          <div class="col item myContentColumn">{{taskContent.lastname}}</div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><b>Request:</b></div>
          <div class="col item myContentColumn">{{taskContent.request}}</div>
        </div>
        <h4>Process request</h4>
        <div class="row">
          <div class="col item myContentColumn"><b>Decision:</b></div>
          <div class="col item myContentColumn">{{taskContent.decision}}</div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><b>Comment:</b></div>
          <div class="col item myContentColumn">{{taskContent.decisioncomment}}</div>
        </div>
        <button type="button" class="button button-block button-stable button-claim" ng-click="modal.show()" ng-show="statusIsInProgress()">
          Edit
        </button>
    </div>
  </ion-content>
</ion-view>
