<ion-modal-view>
  <ion-header-bar class="modalHeader">
      <h1 class="title">{{taskContent.TaskName}} - EditMode</h1>
    </ion-header-bar>
  <ion-content class="padding">
    <div class="list" ng-show="noticeMessage">
      <span class="item noticeMessage" >
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>
      <div class="list list-inset" ng-show="taskContent" data-ng-init="getTaskContent()">
        <h4>Customer request</h4>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>First Name:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.firstname}}" ng-model="taskContent.firstname"></div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Last Name:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.lastname}}" ng-model="taskContent.lastname"></div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Request:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.request}}" ng-model="taskContent.request"></div>
        </div>
        <h4>Process request</h4>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Decision:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.decision}}" ng-model="taskContent.decision"></div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Comment:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.decisioncomment}}" ng-model="taskContent.decisioncomment"></div>
        </div>
        <button type="button" class="button button-block button-stable button-complete" ng-click="modalComplete()">
          Complete Task
        </button>
        <!--<button type="button" class="button button-block button-positive" ng-click="modalSave()">
          Save
        </button>-->
        <button type="button" class="button button-block button-stable" ng-click="modalCancel()">
          Cancel
        </button>
    </div>
  </ion-content>
</ion-modal-view>
