<ion-modal-view>
  <ion-header-bar class="modalHeader">
      <h1 class="title">{{taskContent.TaskName}} - EditMode</h1>
    </ion-header-bar>
  <ion-content class="padding">
    <div class="list" ng-show="noticeMessage">
      <span class="item noticeMessage" >
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>
      <div class="list list-inset" ng-show="taskContent" data-ng-init="getTaskContent()">
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Device Type:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.deviceType}}" ng-model="taskContent.deviceType"></div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Device ID:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.deviceID}}" ng-model="taskContent.deviceID"></div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Data received:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.payload}}" ng-model="taskContent.payload"></div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Time of error event:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.timestamp}}" ng-model="taskContent.timestamp"></div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Error Code:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.errorCode}}" ng-model="taskContent.errorCode"></div>
        </div>
        <div class="row">
          <div class="col item myContentColumn"><span class="input-label"><b>Error Message:</b></span></div>
          <div class="col item myContentColumn"><input type="text" value="{{taskContent.errorMessage}}" ng-model="taskContent.errorMessage"></div>
        </div>
        <button type="button" class="button button-block button-stable button-complete" ng-click="modalComplete()">
          Complete Task
        </button>
        <!--<button type="button" class="button button-block button-positive" ng-click="modalSave()">
          Save
        </button>-->
        <button type="button" class="button button-block button-stable" ng-click="modalCancel()">
          Cancel
        </button>
    </div>
  </ion-content>
</ion-modal-view>
